#box{
    width: 400px;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 3px 3px 3px rgb(0, 199, 199);
    margin: auto;
}
body{
    background-color: aqua;
}
h1{
    text-align: center;
}